.basic__info {
   padding-bottom: 10px;
   table {
      table-layout: fixed;
      width: 300px;
      border-collapse: collapse;
      border: 1px solid #000;
      margin: 0 auto 20px auto;
   }
   th,
   td,
   tr {
      border: 1px solid #000;
      font-weight: 400;
      padding: 3px 3px;
   }
   td {
      width: 30%;
   }
}
